header {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: bold;
}

hr {
    border: none;
    height: 1px;
    background-color: black;
    width: 100vw; 
    margin: 0;
}

h1 {
    font-size: clamp(2rem, 5vw, 3rem); /* Dynamic size */
}

p {
    font-size: clamp(1rem, 2vw, 1.3rem);
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    background-color: #f4f4f4;
    padding: 0;
}

.info-container {
    /* max-width: 1200px; */
    /* margin: auto;
    width: 80%; */
    margin: 5%;
    align-items: center;
}

.info-text {
    display: flex;
    text-align: center;
    max-width: 1000px;
    min-height: 100px;
    margin: auto;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: clamp(1rem, 1.5vw, 1.8rem);
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 30px;
}

.box{
    margin: 5%;
    /* display: flex; */
    max-height: 300px;
    background-color: lightgray;
    text-align: center;
    border-radius: 20px;
    /* flex-direction: column;
    align-items: flex-start; */
}

.box img {
    max-width: 100%;     /* Shrinks image if too wide */
    max-height: 100%;    /* Shrinks image to fit box height */
    object-fit: contain; /* Keeps image proportions */
    border-radius: 50%;  /* Makes the image oval/circle if it's square */
    display: block;
    margin: 0 auto;
}

.box-title {
    /* margin-bottom: 10px; */
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 15px 30px;
}

/* Flexbox to arrange steps in a row */
.step-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -30px;  /*to be changed*/
    gap: 20px;
}

/* For step 1,2,3 */
.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.step img {
    width: 80px;
    margin-bottom: 30px;
}

.arrow {
    font-size: 70px;
    font-weight: bold;
    color: black;
}

.face-scan-container{
    margin: 2% auto;
    display: flex;
    max-width: 50%;
    max-height: 100%;
    background-color: lightgray;
    text-align: center;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

/* Flexbox to arrange steps in a row */
.oval-container {
    position: relative;
    width: 450px;
    height: 500px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

#camera-activate {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

#oval-image {
    z-index: 2;
    max-width: 100%;
    max-height: 90%;
    width: auto;
    height: auto;
    /* object-fit: contain; */
    position: absolute;
}

.overlay-text {
    position: absolute;
    color: white;
    /* bottom: 0%; */
    width: 100%;
    /* font-weight: bold; */
    /* font-size: 1rem; */
    text-align: center;
    z-index: 3;
}

.camera-button {
    /* border: none; */
    display: flex;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 1%;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.camera-button img {
    width: 50px; /* Adjust icon size */
    height: 50px;
}

.here-link {
    color: blue;
    text-decoration: underline;
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
}

/* analysing style */

.analyzing-container {
    margin-top: 150px;
    text-align: center;
}

.loading-bar {
    width: 80%;
    height: 30px;
    background-color: #ddd;
    border-radius: 20px;
    margin: 30px auto;
    overflow: hidden;
}

.loading-fill {
    width: 0%;
    height: 100%;
    background-color: green;
    border-radius: 20px;
    transition: width 0.2s;
}

